.before_i_die.wall {
    background-color: #000;

    .eCell {
        color: #fff;

        .js_blank_wrapper { 
            
            .js_blank_border {
                border: 0px;
            }
        }
    }
}