.iamgratefulwall.wall {
    background: url('./../img/iamgrateful_bg3.jpg');
    background-size: cover;

    .eCell {
        
        .js_wrapper { 
            padding: 15px;
            background: #ffffffcf;
            color: #5e5b5b;

            .js_border {

                .js_underline_wrapper {

                    .js_underline {
                    }
            
                    .js_input {

                    } 
                }
            }
            
        }
    }
}

.eCell.iamgratefulwall {
    background: url('./../img/iamgrateful_bg3.jpg');
    background-size: cover;

    .js_wrapper { 
        padding: 15px;
        background: #ffffffe7;
        color: #5e5b5b;

        .js_border {
            
            .js_underline_wrapper {

                .js_underline {
                    //z-index: 1;
                }
        
                .js_input {

                } 
            }
        }
    }
}
